body{
	background-color: #F0F8FF;
}
#container{
	margin: auto;
	width: 550px;
	height: 350px;
	background-color: #483D8B;
}
#container h1{
	font-size: 60px;
	text-align: center;
	color: #F0F8FF;
}
#value{
	font-size: 60px;
	text-align: center;
	width: 40%;
	height: 70px;
	margin: auto;
	background-color: #F0F8FF; 
}
.button-container{
	margin-top: 50px;
	display: table;
	margin: auto; 
	margin-top: 40px;
}
.btn{
	font-size: 25px;
	font-weight: bold;
}